
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCartaLabel">Create or edit a Carta</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.carta.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.carta.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cartaNomeBr">Carta Nome Br</label>
            <input type="text" class="form-control" name="cartaNomeBr" id="field_cartaNomeBr"
                    ng-model="vm.carta.cartaNomeBr"
                    required />
            <div ng-show="editForm.cartaNomeBr.$invalid">
                <p class="help-block"
                    ng-show="editForm.cartaNomeBr.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cartaNameIng">Carta Name Ing</label>
            <input type="text" class="form-control" name="cartaNameIng" id="field_cartaNameIng"
                    ng-model="vm.carta.cartaNameIng"
                    required />
            <div ng-show="editForm.cartaNameIng.$invalid">
                <p class="help-block"
                    ng-show="editForm.cartaNameIng.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_edicao">Edicao</label>
            <input type="text" class="form-control" name="edicao" id="field_edicao"
                    ng-model="vm.carta.edicao"
                    required />
            <div ng-show="editForm.edicao.$invalid">
                <p class="help-block"
                    ng-show="editForm.edicao.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tipo">Tipo</label>
            <input type="text" class="form-control" name="tipo" id="field_tipo"
                    ng-model="vm.carta.tipo"
                    required />
            <div ng-show="editForm.tipo.$invalid">
                <p class="help-block"
                    ng-show="editForm.tipo.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_raridade">Raridade</label>
            <select class="form-control" name="raridade" ng-model="vm.carta.raridade" id="field_raridade" required>
                <option value="COMUM">COMUM</option>
                <option value="INCOMUM">INCOMUM</option>
                <option value="RARO">RARO</option>
                <option value="LENDARIO">LENDARIO</option>
            </select>
            <div ng-show="editForm.raridade.$invalid">
                <p class="help-block"
                    ng-show="editForm.raridade.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao"
                    ng-model="vm.carta.descricao"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ataque">Ataque</label>
            <input type="text" class="form-control" name="ataque" id="field_ataque"
                    ng-model="vm.carta.ataque"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_defesa">Defesa</label>
            <input type="text" class="form-control" name="defesa" id="field_defesa"
                    ng-model="vm.carta.defesa"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
